---
layout: default
title: Research
---
<h1>Research</h1>

<div class="research-overview">
    <p> My current research interests are on topics related to <b>Personal Informatics</b> and <b>Social Computing</b>. More specifically, I focus on designing positive social sharing experience for users of personal tracking technology.</p>

    <p> In the past, I have worked on research projects to study and design positive social interaction in different contexts. For example, how interaction between streamers and viewers in livestreaming were influence by monetary-based incentives (digital gifts), and how social affordance of games could potentially engage parents and their preschoolers in fine motor skills training. 
</div>

<!-- <ul> -->
    {% for post in site.categories.research %}
      <!-- <li> -->
        <!-- img -->
        <h2 class="project_name"> {{ post.project_name }} </h2>
        <!-- <p> {{ post.date | date_to_string }}</p> -->
        {% if post.project_status == "ongoing" %}
        <p> 
            <i>Ongoing Project</i>
        </p>
        {% endif %}
        {% if post.publication_info != "none" %}
        <p> 
            {{ post.publication_venue}} {{ post.publication_year }} | <a href="{{ post.publication_link }}">Paper</a> 
        </p>
        {% endif %}
        {{ post.project_description }}
        {% if post.publication_info != "none" %}
        <p class="publication_info">{{ post.publication_info }}</p>
        {% endif %}
      <!-- </li> -->
    {% endfor %}
<!-- </ul> -->

<br>
<p> Visit my profile on <a style="font-style: italic;" href="https://scholar.google.com/citations?user=IjfEduAAAAAJ">Google Scholar</a>.</p>